.userProfile{
    margin-top: -10px;
    /* background-color: cadetblue; */
    /* background-size: cover; */
    /* background-image: url('../../assets/images/Profile.jpg'); */
}
.userName{
    margin-top: -5px;
    cursor: pointer;
}
.add{
    margin-top: -22px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    font-size: 3em;
    font-weight: 100;
}