<div style="height: 500px;">
    <mat-card class="col-md-12" style="height: 50px;  background-color:rgb(226, 212, 235);">
        <mat-card-header >
            <img class="d-block mx-auto" [src]="image" mat-card-avatar class="userProfile" (click)="viewProfile()"/>
           <mat-card-title class="userName" (click)="viewProfile()"> {{username}}</mat-card-title>
           <font class="add">+</font>
        </mat-card-header>   
   <!-- <img src="../../assets/images/group.png" height="50px" width="50px"/> -->
  
</mat-card>
<div style="background-color: #d6cedb; height: 35px;">
    <div style="height: 5px;"></div>
    <input type="text" [(ngModel)]="searchText" placeholder="Search Contact" class="input"/>
</div>
<mat-card style="height: 415px; overflow:auto; padding: 0;" >   
    <mat-card-content style="padding-right: 1em; padding-left: 1em;">
        <mat-card-header>
            <img src="../../assets/images/happy3.jpg" mat-card-avatar/>
            <div>Group chat</div>
        </mat-card-header>
        <div style="margin-left:70px; margin-top: -16px;">
            <small >tolu: heyy</small>
        </div>
        <hr />
    </mat-card-content>
    <mat-card-content *ngFor="let user of userList | contactFilter:searchText" style="padding-right: 1em; padding-left: 1em;">
        <mat-card-header>
            <img [src]="user.image" mat-card-avatar/>
            <div style=" cursor: pointer;" (click)="viewMsgChat(user.userId)">{{user.username}}</div>
        </mat-card-header>
        <div *ngFor="let messaging of recentMsg;" style="margin-left:70px; margin-top: -16px;">
            <small *ngIf="user.userId == messaging.receiverId">{{messaging.recentMessage}}</small>
        </div>
        <hr>
    </mat-card-content>
</mat-card>
</div>