<mat-dialog-content style="margin-top: -30px; margin-bottom: 20px; background-color: #d6cedb; padding: 20px 10px 15px !important; text-align: center;">
    <span class="fa fa-times" (click)=close() style="cursor: pointer;"></span>&nbsp;&nbsp;&nbsp;Contact Info
</mat-dialog-content>
<img [src]="image" style="border-radius: 50%; height: 220px; width: 220px;" class="d-block mx-auto"/>
{{name}}<br /><br />
<p style="text-align: center;">GROUPS IN COMMON</p>
<!-- <p style="padding-top:70px ;font-size: large; position: absolute;bottom: 5px;">CLEAR MESSAGES</p> -->
<p style="padding-top:70px ;font-size: large; position: absolute;bottom: 5px;">Contact: {{number}}</p>