<mat-toolbar class="color">
    <mat-icon svgIcon="whisper-logo" aria-hidden="false" aria-label="Whisper Logo Icon" id="whisperIcon"></mat-icon>
    <span class="example-spacer"></span>
    <font class="join" routerLink="signUp">Join now</font>&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button routerLink="signIn" class="sign"><font style="color: rgb(57, 18, 75);font-size: larger;">Sign in</font></button>
</mat-toolbar>
<div style="padding-top: 60px;padding-bottom: 60px;">
    <h1 style="font-family:'Segoe Script';font-size: 50px; text-align: center; font-weight: bolder;color:black;">Whisper</h1>
</div>
<div class="communicate">
    <div>
        <font class="simply_c">Communicate <br />simply</font><br />
        <font class="text">
        Texting is simple with Whisper. Text anywhere from your phone or computer, at any time.
        With Whisper, you'll get fast, simple, secure messaging for free.
        </font>
    </div>
    <div>
        <img src="assets/images/preview.png" width="100%" height="auto">
    </div>
</div>
<div>
    <div style="text-align: center;"><span class="designFeatures"><p>OUR FEATURES</p></span></div>
    <div class="container">
        <div class="feature_space" style="text-align: center;">
            <mat-card class="featuredDiv2">
                <br />TEXTS<br />
                <font style="font-size: 25px;">Simple, reliable messaging</font><br /><br />
                Message your friends and family for free, Whisper uses your phone's internet connection to send messages so you can avoid SMS fees.
                <br /><br /><img src="assets/images/message.png" alt="Whisper messaging"/>
            </mat-card>
            <mat-card class=" featuredDiv">
                <br />GROUP CHAT<br />
                <font style="font-size: 25px;">Groups to keep in touch</font><br /><br />
                Keep in touch with the groups that matter the most, like your family or coworkers.
                With group chats you can share messages with up to 256 people at once.<br />
               <img src="assets/images/group2.png" alt="Group chat" height="300px"/>
            </mat-card>
        </div>
    </div>
</div><br /><br />
<footer class="page-footer font-small" style="background-color: rgb(190, 172, 197);">
    <div class="footer-copyright text-center py-2"> Copyright © Whisper 2020. All Rights Reserved</div>  
</footer>