.color{
    background-color:#8A5D89;
    /* background-color:#5C9593; */
}
#whisperIcon{
    color:rgb(57, 18, 75) !important;
    width: 100px !important; 
    height: 100px !important; 
}
.example-spacer {
    flex: 1 1 auto;
}
.join{
    color: white;
}
.join:hover{
    cursor: pointer;
    color: rgb(240, 235, 230);
}
.join:focus, .sign:focus{
    outline: none;
    cursor: pointer;
}
.communicate{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 20px;
    padding: 0px 30px 0px 30px;
}
.simply_c{
    line-height: 60px;
    font-size: 45px;
    text-align: center;
    display: block;
    padding: 20px 50px 5px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 23px;
    text-align: center;
    display: block;
}
.designFeatures{
    margin-top: 100px;
    border-style: solid;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    border-width: 2px;
    border-color: #8A5D89;
    width: 200px;
    height: 50px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(57, 18, 75);
    /* padding: 1em; */
    /* border-radius: 40px; 
    border-width: 1px;
    border-color: rgb(216, 215, 215);
    width: 500px;
    height: 50px;
    margin-top:-100px */
}
p{
    margin-top: 10px;
}
.featuredDiv{
    margin-top: 70px;
    background-color: #f0daf0;
}
.featuredDiv2{
    margin-top: 70px;
    background-color: #fdfdfd;
}
.feature_space{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 30px;
    padding: 0px 30px 0px 30px;
}